/*menu*/
nav div div ul li a {
    color: blue !important;
    background-color: grey;
}


/*imagen principal*/
.imagen_1 {
    margin: 5%;
    width: 70%;
}

/* texto pagina index*/
h1, h4 {
    background-color: grey;
}

/*imagenes pagina producto*/

.imagen1, .imagen2, .imagen3 {
    width: 25%;
}